body {
  background: lightgray;
  min-width: 640px;
  min-height: 480px;
  padding: 5px;
  overflow: hidden;
}

button {
  min-width: 5vw;
}

#log {
  width: 100%;
}

#tip {
  font-size: 0.8em;
}

.tabulator-cell.tabulator-editable textarea {
  min-height: calc(2 * 22px) !important;
  max-height: calc(10 * 22px) !important;
  white-space: nowrap !important;
}
